{% extends "base.html" %} {% block content %}
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">
                Description
            </a>
    </li>
    <li>
        <a href="./team.html">
                Team
            </a>
    </li>
</ul>

<div class="jumbotron jumbotron2">
    <div class="row">
        <div>
            <h1>
                Instamap
            </h1>

            <p class="lead">
                <h2> Google Maps with Instagram</h2>
                <br />
            </p>
            <p>
                Instagram is an online photo-sharing, video-sharing and social networking service that enables its users to take pictures and videos, apply digital filters to them, and share them on a variety of social networking services.
            </p>
            <p>
                Google Maps is a web mapping service application and technology provided by Google, that powers many map-based services, including the Google Maps website, Google Ride Finder, Google Transit, and maps embedded on third-party websites via the Google Maps API.
            </p>
            <p>
                In our project, the following functions are contained.
            </p>
            <p>
                We will show all the follows of a user first. Then, we can select one of them to find some of their pictures that posted with certain locations, and mark these locations on Google Maps. When we click the mark on the map, a info-window will pop up with detail messages of the picture.
            </p>
            <p>
                In addition, we can query all the follows’ pictures in a certain city, which can be input by user. Besides, we can query the result in a certain distance around the city that the user input. For example, if the user input “Buffalo”, all the pictures posted by this user’s follows in Buffalo will be marked on the map. If the user input a concrete distance, 100 miles, then the results in this circle centered by Buffalo will be marked.
            </p>
            <br />
            <p>
                References:
            </p>

            <a href="http://instagram.com/developer/ ">
                    Instagram Api
                </a>

            <br />

            <a href="https://developers.google.com/maps/documentation/">
                    Google Maps Api
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-2">
            <p>
                <a class="btn btn-outline-inverse btn-lg" href="./index.html">
                    Return
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}