{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <div class="col-md-12" align="center">
    <h2>Friendships of Weibo on Map</h2>
    <form name="search" action="" method="post" style="padding-top:30px">
      {{form.hidden_tag()}}
      <div class="search_form_inside">
        <p>
        {{form.searchName(size=46)}} {% for error in form.errors.searchName %}
        <br/>
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <br>
        </p>
        <input class="btn btn-primary btn-default login" type="submit" value="Search" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
