{% extends "base.html" %} {% block content %}
<div class="row" style="background-color:#fff">
    <div class="col-md-6">
        <div class="rightborder" style="height: 30px"></div>
    </div>
</div>
<div class="row" style="background-color:#fff">
    <div class="col-md-6">
        <div class="rightborder recommend" style="padding-top:20px">
            <div class="h2">What is the 'Instamap' ？</div>
            <div style="padding: 10px 0px">
                <br/>
                <div>Google Maps with Instagram</div>
                <div>One application invoking Instagram API and GoogleMap API</div>
                <div>Developed using Python</div>
                <div>Run in <a href="http://sae.sina.com.cn/" target="_blank">SAE</a>
                </div>
                <!-- <div>Instamap &#45; Google Maps with Instagram</div> -->
            </div>
            <br/>

            <div align="right" style="padding-right:60px">
                <a class="btn btn-lg" href="./description.html">
                Learn more
            </a>
            </div>
        </div>
        <div class="rightborder" style="height: 30px"></div>
    </div>
    <div class="col-md-6" style="padding-top:20px">
        <div class="row">
            <div style="padding-left:30px">
                <div class="h3">Please login using Instagram account：</div>
                <div style="padding:10px 0px">
                    <a href="/signin">
                        <img src="/static/img/btn-signin-instagram.png" style="width: 239px;height: 48px">
                    </a>
                </div>
                <br/>
                <br/>
                <div class="h3">Our team!</div>
                <div class="recommend" style="padding: 10px 0px">
                    <p>
                        <!-- Chun Tung Wong (chuntung@buffalo.edu) -->
                        <!-- <br /> -->
                        Shiqin Ding (shiqindi@buffalo.edu)
                        <br />Suqiang Chen (suqiangc@buffalo.edu)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color:#fff">
    <div class="col-md-6">
        <div class="rightborder" style="height: 30px"></div>
    </div>
</div>

{% endblock %}
