{% extends "base.html" %} {% block content %}
<!-- <div class="row2" style="background-color:#fff">
    <div class="span3">
        <div class="rightborder" style="height: 30px"></div>
    </div>
</div>
<div class="row2" style="background-color:#fff">
    <div class="span3">
        <div class="rightborder mylogo">
            <div class="big">
                <img class="big" src="http://tp3.sinaimg.cn/2199734770/180/40018321658/1">
            </div>
            <div class="info">关注：
                <span>163</span>
            </div>
            <div class="info">粉丝：
                <span>217</span>
            </div>
            <div class="info">微博：
                <span>229</span>
            </div>
            <div class="clearfix"></div>
            <div class="name">再见-Steven<i class="v-220"></i>
            </div>
        </div>
        <div class="rightborder" style="height: 20px"></div>
    </div>
    <div class="span9">
        <div style="padding-left:30px">
            <div id="div-count" class="count">还可以输入
                <span id="span-post-count">140</span>字</div>
            <div class="shadow">有什么新鲜事想告诉大家?</div>
            <div>
                <form id="form-post" name="form-post" style="margin:0px; padding:0px;" method="post" action="/any">
                    <textarea id="text-post" name="status" style="width:640px;height:40px;resize:none;"></textarea>
                </form>
            </div>
            <div>
                <button id="btn-post" class="btn">发布</button>
                <span id="span-posting" class="loading hide">正在发布……</span>
                <span id="span-post-ok" class="hide">发布成功！</span>
                <span id="span-post-failed" class="hide">发布失败，请重试！</span>
            </div>
        </div>
    </di -->v>
</div>


<div class="row2">
    <iframe height="400px" width="100%" frameborder="0" scrolling="no" src="./map.html">
    </iframe>
</div>
{% endblock %}