{% extends "base.html" %} {% block content %}
<ul class="nav nav-tabs">
    <li>
        <a href="./description.html">
				Description
			</a>
    </li>
    <li class="active">
        <a href="./team.html">
				Team
			</a>
    </li>
</ul>
<div class="jumbotron jumbotron2">
    <div class="row">
        <div>
            <h1>
                Team Members:
            </h1>

            <p class="lead">
                Chun Tung Wong (chuntung@buffalo.edu)
                <br />Shiqin Ding (shiqindi@buffalo.edu)
                <br />Suqiang Chen (suqiangc@buffalo.edu).
            </p>
        </div>
    </div>
</div>
<div class="col-md-9">
</div>
<div class="col-md-2">
    <p>
        <a class="btn btn-outline-inverse btn-lg" href="./index.html">
			Return
		</a>
    </p>
</div>
{% endblock %}